#-------------------------------------------------------------------------------
# Info: (20251219 - Tzuhan) Application & API
#-------------------------------------------------------------------------------
NODE_ENV=development
NEXT_PUBLIC_API_POWERBY="TideBit-DeFi API"
NEXT_PUBLIC_API_VERSION="v2"

#-------------------------------------------------------------------------------
# Info: (20251219 - Tzuhan) Database (PostgreSQL)
#-------------------------------------------------------------------------------
# Info: (20251219 - Tzuhan) The DATABASE_URL will be used by Prisma.
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB=tidebit_defi_db
POSTGRES_HOST=
POSTGRES_PORT=
DATABASE_URL="postgresql://${POSTGRES_USER}:${POSTGRES_PASSWORD}@${POSTGRES_HOST}:${POSTGRES_PORT}/${POSTGRES_DB}?schema=public"

#-------------------------------------------------------------------------------
# Info: (20251219 - Tzuhan) Security & Identity Authentication (CAFECA Digital ID)
#-------------------------------------------------------------------------------
# Info: (20251219 - Tzuhan) Used for signing session tokens (DeWT).
DEWT_PRIVATE_KEY_PEM=

# Info: (20251219 - Tzuhan) The origin of the web application for FIDO2/WebAuthn security.
NEXT_PUBLIC_ORIGIN=

#-------------------------------------------------------------------------------
# Info: (20251219 - Tzuhan) Pusher
#-------------------------------------------------------------------------------
NEXT_PUBLIC_PUSHER_KEY=
NEXT_PUBLIC_PUSHER_HOST=
NEXT_PUBLIC_PUSHER_PORT=
NEXT_PUBLIC_PUSHER_CLUSTER=
NEXT_PUBLIC_PUSHER_USE_TLS=

PUSHER_APP_ID=
PUSHER_SECRET=
PUSHER_USE_TLS=

STORAGE_DOMAIN="https://storage.cafeca.io"

ISUNCOIN_ADDRESS=
ISUNCOIN_PRIVATE_KEY=

NEXT_PUBLIC_RPC_URL="https://mainnet.isuncoin.com"
NEXT_PUBLIC_ENTRY_POINT_ADDRESS=
NEXT_PUBLIC_SCW_FACTORY_ADDRESS=

NEXT_PUBLIC_BAIFA_EXPLORER="https://baifa.io"
NEXT_PUBLIC_ISUNCOIN_CHAIN_ID="8017"
