# Node modules
/node_modules
/.pnp
.pnp.js
package-lock.json

# Compilation output
/dist

# pnpm deploy output
/bundle

# Hardhat Build Artifacts
/artifacts

# Hardhat compilation (v2) support directory
/cache

# Typechain output
/types

# Hardhat coverage reports
/coverage

# Ignition deployment
/ignition/deployments/

# next.js
/.next/
/out/

# production
/build
/private
/exports

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# local env files
.env*.local
.env

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts

# log file
*/logs/*

/generated/prisma
