:root {
  --color1: #404a55;
  --colorLoss: #e86d6d;
  --colorProfit: #1ae2a0;
}

.circularProgress {
  fill: none;
  stroke: var(--color1);
  stroke-linecap: round;
  stroke-linejoin: round;
}

.circularBackground {
  fill: none;
  stroke: chocolate;
}

.circularBar {
  fill: none;
  stroke: var(--colorProfit);
  stroke-linecap: round;
  stroke-linejoin: round;
}
