@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --primary-light-aqua-900: #05294dff;
  --primary-light-aqua-800: #125079ff;
  --primary-light-aqua-700: #257ea6ff;
  --primary-light-aqua-600: #0dbde1ff;
  --primary-light-aqua-500: #03d2fdff;
  --primary-light-aqua-400: #40dafaff;
  --primary-light-aqua-300: #77e6ffff;
  --primary-light-aqua-200: #85eaffff;
  --primary-light-aqua-100: #96edffff;
  --primary-light-aqua-50: #a9f0ffff;
  --primary-light-aqua-25: #d4f8ffff;
  --secondary-light-mint-900: #063944ff;
  --secondary-light-mint-800: #0a626aff;
  --primary-light-aqua-opacity-08: #29c1e114;
  --secondary-light-mint-700: #0e8e8bff;
  --primary-light-aqua-opacity-10: #29c1e11a;
  --primary-light-aqua-opacity-16: #29c1e129;
  --neutral-white: #ffffffff;
  --neutral-light-grey-900: #0b2238ff;
  --neutral-light-grey-800: #21384eff;
  --neutral-light-grey-700: #384e63ff;
  --neutral-light-grey-600: #4f6478ff;
  --neutral-light-grey-500: #667a8cff;
  --neutral-light-grey-400: #7e90a0ff;
  --neutral-light-grey-300: #94a0afff;
  --neutral-light-grey-200: #cfd7dcff;
  --neutral-light-grey-100: #ebeff5ff;
  --neutral-light-grey-50: #f2f7fcff;
  --neutral-light-grey-25: #fafdffff;
  --neutral-dark-grey-900: #fdfdfdff;
  --neutral-dark-grey-800: #e1e4e8ff;
  --neutral-dark-grey-700: #c5cbd2ff;
  --neutral-dark-grey-600: #aab2bcff;
  --neutral-dark-grey-500: #909aa6ff;
  --neutral-dark-grey-400: #84909fff;
  --neutral-dark-grey-300: #6a7788ff;
  --neutral-dark-grey-200: #3f5065ff;
  --neutral-dark-grey-100: #273342ff;
  --neutral-dark-grey-50: #1c2530ff;
  --neutral-dark-grey-25: #131e29ff;
  --neutral-dark-grey-opacity-08: #131e2914;
  --neutral-dark-grey-opacity-10: #131e291a;
  --success-light-green-900: #002700ff;
  --success-light-green-800: #005500ff;
  --success-light-green-700: #007c0cff;
  --success-light-green-600: #029e21ff;
  --success-light-green-500: #11ba3bff;
  --success-light-green-400: #2dc453ff;
  --success-light-green-300: #4ace6bff;
  --success-light-green-200: #67d883ff;
  --success-light-green-100: #84e09bff;
  --success-light-green-50: #a2e9b4ff;
  --success-light-green-25: #c1f1cdff;
  --success-light-green-opacity-00: #11ba3b00;
  --success-light-green-opacity-08: #11ba3b14;
  --success-light-green-opacity-10: #11ba3b1a;
  --success-light-green-opacity-16: #11ba3b29;
  --success-dark-green-900: #b1ffd2ff;
  --success-dark-green-800: #8bffbcff;
  --success-dark-green-700: #69ffa5ff;
  --success-dark-green-600: #4afa90ff;
  --success-dark-green-500: #2ef07bff;
  --success-dark-green-400: #1ed861ff;
  --success-dark-green-300: #12b849ff;
  --success-dark-green-200: #089433ff;
  --success-dark-green-100: #017020ff;
  --success-dark-green-50: #004d11ff;
  --success-dark-green-25: #002906ff;
  --success-dark-green-opacity-00: #2ef07b00;
  --success-dark-green-opacity-08: #2ef07b14;
  --success-dark-green-opacity-10: #2ef07b1a;
  --success-dark-green-opacity-16: #2ef07b29;
  --warning-light-yellow-900: #473400ff;
  --warning-light-yellow-800: #9f7600ff;
  --warning-light-yellow-700: #d39f00ff;
  --warning-light-yellow-600: #ecb605ff;
  --warning-light-yellow-500: #ebc015ff;
  --warning-light-yellow-400: #f4ca29ff;
  --warning-light-yellow-300: #fcd23eff;
  --warning-light-yellow-200: #ffda57ff;
  --warning-light-yellow-100: #ffe274ff;
  --warning-light-yellow-50: #ffe991ff;
  --warning-light-yellow-25: #faefc5ff;
  --warning-light-yellow-opacity-08: #ebc01514;
  --warning-light-yellow-opacity-10: #ebc0151a;
  --warning-light-yellow-opacity-16: #ebc01529;
  --warning-dark-yellow-900: #ffe585ff;
  --warning-dark-yellow-800: #ffe06dff;
  --warning-dark-yellow-700: #ffdc57ff;
  --warning-dark-yellow-600: #ffd844ff;
  --warning-dark-yellow-500: #fad234ff;
  --warning-dark-yellow-400: #e1b724ff;
  --warning-dark-yellow-300: #c49c17ff;
  --warning-dark-yellow-200: #a6800cff;
  --warning-dark-yellow-100: #886504ff;
  --warning-dark-yellow-50: #6a4a00ff;
  --warning-dark-yellow-25: #4d3200ff;
  --warning-dark-yellow-opacity-08: #fad23414;
  --warning-dark-yellow-opacity-10: #fad2341a;
  --warning-dark-yellow-opacity-16: #fad23429;
  --error-light-red-900: #2b020fff;
  --error-light-red-800: #60091eff;
  --error-light-red-700: #95172cff;
  --error-light-red-600: #ca2b3bff;
  --error-light-red-500: #f5454dff;
  --error-light-red-400: #ff565dff;
  --error-light-red-300: #ff6970ff;
  --error-light-red-200: #ff7f85ff;
  --error-light-red-100: #ff979dff;
  --error-light-red-50: #ffb3b7ff;
  --error-light-red-25: #ffdcddff;
  --error-light-red-opacity-00: #f5454d00;
  --error-light-red-opacity-08: #f5454d14;
  --error-light-red-opacity-10: #f5454d1a;
  --error-light-red-opacity-16: #f5454d29;
  --error-dark-red-900: #ffacb1ff;
  --error-dark-red-800: #ff8991ff;
  --error-dark-red-700: #ff6c75ff;
  --error-dark-red-600: #ff555eff;
  --error-dark-red-500: #ff424cff;
  --error-dark-red-400: #dc3040ff;
  --error-dark-red-300: #b92135ff;
  --error-dark-red-200: #95142cff;
  --error-dark-red-100: #720b23ff;
  --error-dark-red-50: #4f0419ff;
  --error-dark-red-25: #2b010fff;
  --error-dark-red-opacity-00: #ff424c00;
  --error-dark-red-opacity-08: #ff424c14;
  --error-dark-red-opacity-10: #ff424c1a;
  --error-dark-red-opacity-16: #ff424c29;
  --neutral-dark-grey-opacity-16: #131e2929;
  --neutral-dark-grey-opacity-70: #131e29b2;
  --neutral-light-grey-opacity-08: #0b223814;
  --neutral-light-grey-opacity-10: #0b22381a;
  --neutral-light-grey-opacity-16: #0b223829;
  --neutral-light-grey-opacity-70: #0b2238b2;
  --secondary-light-mint-600: #13b39eff;
  --secondary-light-mint-500: #19d6aaff;
  --secondary-light-mint-400: #35ddb0ff;
  --secondary-light-mint-300: #52e4b9ff;
  --secondary-light-mint-200: #6fe9c3ff;
  --secondary-light-mint-100: #8defceff;
  --secondary-light-mint-50: #abf4daff;
  --secondary-light-mint-25: #caf9e7ff;
  --primary-dark-aqua-900: #b3f7ffff;
  --primary-dark-aqua-800: #86f0ffff;
  --primary-dark-aqua-700: #59e7ffff;
  --primary-dark-aqua-600: #2ddaffff;
  --primary-dark-aqua-500: #02c8f1ff;
  --primary-dark-aqua-400: #0ea3d3ff;
  --primary-dark-aqua-300: #0b82b9ff;
  --primary-dark-aqua-200: #09659eff;
  --primary-dark-aqua-100: #064b83ff;
  --primary-dark-aqua-50: #053468ff;
  --primary-dark-aqua-25: #002a4dff;
  --secondary-dark-mint-900: #c7fee8ff;
  --secondary-dark-mint-800: #95fcd7ff;
  --secondary-dark-mint-700: #64f8c8ff;
  --secondary-dark-mint-600: #32f3bcff;
  --secondary-dark-mint-500: #00f0bcff;
  --secondary-dark-mint-400: #00dfaaff;
  --secondary-dark-mint-300: #00bf9fff;
  --secondary-dark-mint-200: #009f90ff;
  --secondary-dark-mint-100: #00807eff;
  --secondary-dark-mint-50: #006060ff;
  --secondary-dark-mint-25: #004040ff;
  --info-light-blue-900: #00234dff;
  --info-light-blue-800: #003979ff;
  --info-light-blue-700: #004ea6ff;
  --info-light-blue-600: #0064d2ff;
  --info-light-blue-500: #007affff;
  --info-light-blue-400: #158cffff;
  --info-light-blue-300: #2b9dffff;
  --info-light-blue-200: #40adffff;
  --info-light-blue-100: #55bdffff;
  --info-light-blue-50: #6acbffff;
  --info-light-blue-25: #bbeaffff;
  --info-dark-blue-900: #badbffff;
  --info-light-blue-opacity-08: #007aff14;
  --info-dark-blue-800: #8cc3ffff;
  --info-light-blue-opacity-10: #007aff1a;
  --info-dark-blue-700: #5dacffff;
  --info-light-blue-opacity-16: #007aff29;
  --info-dark-blue-600: #2f95ffff;
  --info-dark-blue-500: #087effff;
  --info-dark-blue-400: #006ee4ff;
  --info-dark-blue-300: #005dcaff;
  --info-dark-blue-200: #004eafff;
  --info-dark-blue-100: #003e94ff;
  --info-dark-blue-50: #003079ff;
  --info-dark-blue-25: #00235eff;
  --primary-dark-aqua-opacity-08: #11c7ed14;
  --info-dark-blue-opacity-08: #087eff14;
  --info-dark-blue-opacity-10: #087eff1a;
  --primary-dark-aqua-opacity-10: #11c7ed1a;
  --primary-dark-aqua-opacity-16: #11c7ed29;
  --info-dark-blue-opacity-16: #087eff29;
  --secondary-light-mint-opacity-08: #19d6aa14;
  --secondary-light-mint-opacity-10: #19d6aa1a;
  --secondary-light-mint-opacity-16: #19d6aa29;
  --secondary-dark-mint-opacity-08: #00f0bc14;
  --secondary-dark-mint-opacity-10: #00f0bc1a;
  --secondary-dark-mint-opacity-16: #00f0bc29;
  --text-support-strong-maple: #fd853aff;
  --text-support-strong-taro: #9b8afbff;
  --text-support-strong-rose: #fd6f8eff;
  --text-support-strong-pink: #f670c7ff;
  --text-support-strong-indigo: #8098f9ff;
  --text-support-strong-baby: #53b1fdff;
  --text-support-strong-green: #6cdea0ff;
  --text-support-soft-maple: #ffead5ff;
  --text-support-soft-taro: #ebe9feff;
  --text-support-soft-rose: #ffe4e8ff;
  --text-support-soft-pink: #fce7f6ff;
  --text-support-soft-indigo: #e0eaffff;
  --text-support-soft-baby: #d1e9ffff;
  --text-support-soft-green: #bdf0d5ff;
  --surface-support-strong-maple: #ff883eff;
  --surface-support-strong-taro: #9b8afbff;
  --surface-support-strong-rose: #fd6f8eff;
  --surface-support-strong-pink: #f670c7ff;
  --surface-support-strong-indigo: #8098f9ff;
  --surface-support-strong-baby: #53b1fdff;
  --surface-support-strong-green: #6cdea0ff;
  --surface-support-soft-maple: #ffead5ff;
  --surface-support-soft-taro: #ebe9feff;
  --surface-support-soft-rose: #ffe4e8ff;
  --surface-support-soft-pink: #fce7f6ff;
  --surface-support-soft-indigo: #e0eaffff;
  --surface-support-soft-baby: #d1e9ffff;
  --surface-support-soft-green: #bdf0d5ff;
  --surface-neutral-overlay: #ffffffb2;
  --surface-neutral-shadow: #0b22380d;
  --border-support-strong-maple: #fd853aff;
  --border-support-strong-taro: #9b8afbff;
  --border-support-strong-rose: #fd6f8eff;
  --border-support-strong-pink: #f670c7ff;
  --border-support-strong-indigo: #8098f9ff;
  --border-support-strong-baby: #53b1fdff;
  --border-support-strong-green: #6cdea0ff;
  --border-support-soft-maple: #ffead5ff;
  --border-support-soft-taro: #ebe9feff;
  --border-support-soft-rose: #ffe4e8ff;
  --border-support-soft-pink: #fce7f6ff;
  --border-support-soft-indigo: #e0eaffff;
  --border-support-soft-baby: #d1e9ffff;
  --border-support-soft-green: #bdf0d5ff;
  --border-state-like: #eba1aaff;
  --border-state-favorite: #f3c078ff;
  --icon-visa: #1434cbff;
  --icon-state-like: #dd5a69ff;
  --icon-state-favorite: #f0a53bff;
  --icon-state-favorite-hover: #fff2e1ff;
  --opacity-neutral-bg-80: #ebeff5cc;
  --opacity-neutral-bg-50: #ebeff580;
  --opacity-neutral-bg-25: #ebeff540;
  --opacity-neutral-bg-0: #ebeff500;
  --opacity-neutral-lv2-80: #fafdffcc;
  --opacity-neutral-lv2-50: #fafdff80;
  --opacity-neutral-lv2-25: #fafdff40;
  --opacity-neutral-lv2-0: #fafdff00;
  --opacity-neutral-dark-80: #0b2238cc;
  --opacity-neutral-dark-50: #0b223880;
  --opacity-neutral-dark-25: #0b223840;
  --opacity-neutral-dark-0: #0b223800;
  --opacity-neutral-inverse-80: #0b2238cc;
  --opacity-neutral-inverse-50: #0b223880;
  --opacity-neutral-inverse-25: #0b223840;
  --opacity-neutral-inverse-8: #0b223814;
  --opacity-neutral-inverse-0: #0b223800;
  --opacity-brand-primary-25: #29c1e140;
  --opacity-brand-secondary-25: #19d6aa40;
  --opacity-state-error-25: #f5454d40;
  --opacity-state-success-25: #11ba3b40;
  --opacity-state-warn-25: #ebc01540;
  --opacity-state-info-25: #007aff40;
  --logo-secondary: #b5c0cfff;
  --illustration-main-skin-yellow-light: #fcd677ff;
  --illustration-main-skin-yellow-dark: #f0c456ff;
  --illustration-main-white: #ffffffff;
  --illustration-main-black: #1e2337ff;
  --illustration-main-blue-light: #5fa4e5ff;
  --illustration-main-blue-dark: #3c7fbdff;
  --illustration-main-green-light: #09f5bfff;
  --illustration-main-green-dark: #1bcfb9ff;
  --illustration-main-navy-light: #4c587cff;
  --illustration-main-navy-dark: #35416cff;
  --illustration-main-hair-brown: #4c1d0bff;
  --illustration-main-hair-red: #af4009ff;
  --illustration-main-hair-grey: #96979bff;
  --illustration-main-hair-black: #1e2337ff;

  --surface-neutral-background: var(--neutral-light-grey-100);
  --surface-neutral-container-lv1: var(--neutral-light-grey-50);
  --surface-neutral-container-lv2: var(--neutral-light-grey-25);
  --surface-neutral-container-lv3: var(--neutral-white);
  --surface-neutral-inverse: var(--neutral-light-grey-800);
  --surface-neutral-solid-white: var(--neutral-white);
  --surface-neutral-mask: var(--neutral-light-grey-opacity-70);
  --surface-neutral-mask-subtle: var(--neutral-light-grey-opacity-16);
  --surface-brand-primary-bright: var(--primary-light-aqua-300);
  --surface-brand-primary-default: var(--primary-light-aqua-400);
  --surface-state-error-bright: var(--error-light-red-400);
  --surface-brand-primary-dim: var(--primary-light-aqua-600);
  --surface-brand-primary-hover: var(--primary-light-aqua-100);
  --surface-brand-primary-container: var(--primary-light-aqua-25);
  --surface-brand-primary-container-hover: var(--primary-light-aqua-50);
  --surface-brand-secondary-bright: var(--secondary-light-mint-300);
  --surface-brand-secondary-default: var(--secondary-light-mint-400);
  --surface-brand-secondary-dim: var(--secondary-light-mint-600);
  --surface-brand-secondary-hover: var(--secondary-light-mint-100);
  --surface-brand-secondary-container: var(--secondary-light-mint-25);
  --surface-brand-secondary-container-hover: var(--secondary-light-mint-50);
  --surface-state-error: var(--error-light-red-500);
  --surface-state-error-strong: var(--error-light-red-600);
  --surface-state-error-hover: var(--error-light-red-300);
  --surface-state-error-container: var(--error-light-red-25);
  --surface-state-error-container-hover: var(--error-light-red-50);
  --surface-state-warning-bright: var(--warning-light-yellow-400);
  --surface-state-warning: var(--warning-light-yellow-500);
  --surface-state-warning-dim: var(--warning-light-yellow-600);
  --surface-state-warning-hover: var(--warning-light-yellow-300);
  --surface-state-warning-container: var(--warning-light-yellow-25);
  --surface-state-warning-container-hover: var(--warning-light-yellow-50);
  --surface-state-success-bright: var(--success-light-green-400);
  --surface-state-success: var(--success-light-green-500);
  --surface-state-success-dim: var(--success-light-green-600);
  --surface-state-success-hover: var(--success-light-green-300);
  --surface-state-success-container: var(--success-light-green-25);
  --surface-state-success-container-hover: var(--success-light-green-50);
  --surface-state-info-bright: var(--info-light-blue-400);
  --surface-state-info: var(--info-light-blue-500);
  --surface-state-info-dim: var(--info-light-blue-600);
  --surface-state-info-hover: var(--info-light-blue-200);
  --surface-state-info-container: var(--info-light-blue-25);
  --surface-state-info-container-hover: var(--info-light-blue-50);
  --surface-state-mute: var(--neutral-light-grey-300);
  --surface-state-mute-container: var(--neutral-light-grey-200);
  --text-neutral-primary: var(--neutral-light-grey-800);
  --text-neutral-secondary: var(--neutral-light-grey-700);
  --text-neutral-tertiary: var(--neutral-light-grey-500);
  --text-neutral-inverse: var(--neutral-white);
  --text-neutral-solid-light: var(--neutral-white);
  --text-neutral-solid-dark: var(--neutral-light-grey-800);
  --text-brand-primary: var(--primary-light-aqua-600);
  --text-brand-primary-hover: var(--primary-light-aqua-500);
  --text-brand-on-primary: var(--primary-light-aqua-900);
  --text-brand-on-primary-container: var(--primary-light-aqua-700);
  --text-brand-secondary: var(--secondary-light-mint-600);
  --text-brand-secondary-hover: var(--secondary-light-mint-500);
  --text-brand-on-secondary: var(--secondary-light-mint-900);
  --text-state-error: var(--error-light-red-700);
  --text-state-error-hover: var(--error-light-red-600);
  --text-state-on-error: var(--neutral-white);
  --text-state-on-error-container: var(--error-light-red-700);
  --text-brand-on-secondary-container: var(--secondary-light-mint-700);
  --text-state-warning: var(--warning-light-yellow-800);
  --text-state-warning-hover: var(--warning-light-yellow-700);
  --text-state-on-warning: var(--warning-light-yellow-900);
  --text-state-on-warning-container: var(--warning-light-yellow-800);
  --text-state-success: var(--success-light-green-700);
  --text-state-success-hover: var(--success-light-green-600);
  --text-state-on-success: var(--neutral-white);
  --text-state-on-success-container: var(--success-light-green-700);
  --text-state-info: var(--info-light-blue-600);
  --text-state-info-hover: var(--info-light-blue-500);
  --text-state-on-info: var(--neutral-white);
  --text-state-on-info-container: var(--info-light-blue-700);
  --text-state-mute: var(--neutral-light-grey-300);
  --text-state-on-mute: var(--neutral-light-grey-500);
  --text-state-on-mute-container: var(--neutral-light-grey-300);
  --border-neutral-subtle: var(--neutral-light-grey-200);
  --border-neutral-default: var(--neutral-light-grey-300);
  --border-brand-primary: var(--primary-light-aqua-500);
  --border-brand-primary-hover: var(--primary-light-aqua-600);
  --border-brand-on-primary: var(--primary-light-aqua-600);
  --border-brand-on-primary-hover: var(--primary-light-aqua-700);
  --border-brand-on-primary-container: var(--primary-light-aqua-500);
  --border-brand-on-primary-container-hover: var(--primary-light-aqua-400);
  --border-state-error: var(--error-light-red-500);
  --border-state-error-hover: var(--error-light-red-400);
  --border-state-on-error: var(--error-light-red-900);
  --border-state-on-error-hover: var(--error-light-red-700);
  --border-state-on-error-container: var(--error-light-red-600);
  --border-state-on-error-container-hover: var(--error-light-red-500);
  --border-state-warning: var(--warning-light-yellow-800);
  --border-state-warning-hover: var(--warning-light-yellow-700);
  --border-state-on-warning: var(--warning-light-yellow-900);
  --border-state-on-warning-hover: var(--warning-light-yellow-800);
  --border-state-on-warning-container: var(--warning-light-yellow-800);
  --border-state-on-warning-container-hover: var(--warning-light-yellow-700);
  --border-state-success: var(--success-light-green-400);
  --border-state-success-hover: var(--success-light-green-200);
  --border-state-on-success: var(--success-light-green-700);
  --border-state-on-success-hover: var(--success-light-green-600);
  --border-state-on-success-container: var(--success-light-green-500);
  --border-state-on-success-container-hover: var(--success-light-green-300);
  --border-state-info: var(--info-light-blue-500);
  --border-state-info-hover: var(--info-light-blue-300);
  --border-state-on-info: var(--info-light-blue-700);
  --border-state-on-info-hover: var(--info-light-blue-600);
  --border-state-on-info-container: var(--info-light-blue-500);
  --border-state-on-info-container-hover: var(--info-light-blue-300);
  --border-state-mute: var(--neutral-light-grey-300);
  --border-state-on-mute: var(--neutral-light-grey-400);
  --border-state-on-mute-container: var(--neutral-light-grey-300);
  --border-brand-secondary: var(--secondary-light-mint-500);
  --border-brand-secondary-hover: var(--secondary-light-mint-400);
  --border-brand-on-secondary: var(--secondary-light-mint-600);
  --border-brand-on-secondary-hover: var(--secondary-light-mint-400);
  --border-brand-on-secondary-container: var(--secondary-light-mint-500);
  --border-brand-on-secondary-container-hover: var(--secondary-light-mint-300);
  --border-neutral-strong: var(--neutral-light-grey-400);
  --border-neutral-hover: var(--neutral-light-grey-600);
  --border-neutral-contrast: var(--neutral-light-grey-800);
  --border-neutral-solid-white: var(--neutral-light-grey-25);
  --border-neutral-inverse: var(--neutral-light-grey-25);
  --icon-neutral-primary: var(--neutral-light-grey-800);
  --icon-neutral-secondary: var(--neutral-light-grey-700);
  --icon-neutral-tertiary: var(--neutral-light-grey-400);
  --icon-neutral-inverse: var(--neutral-white);
  --icon-neutral-solid-white: var(--neutral-white);
  --icon-brand-primary: var(--primary-light-aqua-600);
  --icon-brand-primary-hover: var(--primary-light-aqua-400);
  --icon-brand-on-primary-small: var(--primary-light-aqua-900);
  --icon-brand-on-primary-large: var(--neutral-white);
  --icon-brand-on-primary-container: var(--primary-light-aqua-600);
  --icon-brand-secondary: var(--secondary-light-mint-600);
  --icon-brand-secondary-hover: var(--secondary-light-mint-400);
  --icon-brand-on-secondary: var(--secondary-light-mint-900);
  --icon-brand-on-secondary-container: var(--secondary-light-mint-700);
  --icon-state-error: var(--error-light-red-600);
  --icon-state-error-hover: var(--error-light-red-500);
  --icon-state-on-error: var(--neutral-white);
  --icon-state-on-error-container: var(--error-light-red-700);
  --icon-state-warning: var(--warning-light-yellow-700);
  --icon-state-warning-hover: var(--warning-light-yellow-600);
  --icon-state-on-warning: var(--warning-light-yellow-900);
  --icon-state-on-warning-container: var(--warning-light-yellow-800);
  --icon-state-success: var(--success-light-green-600);
  --icon-state-success-hover: var(--success-light-green-400);
  --icon-state-on-success: var(--neutral-white);
  --icon-state-on-success-container: var(--success-light-green-700);
  --icon-state-info: var(--info-light-blue-500);
  --icon-state-info-hover: var(--info-light-blue-300);
  --icon-state-on-info: var(--neutral-white);
  --icon-state-on-info-container: var(--info-light-blue-700);
  --icon-state-mute: var(--neutral-light-grey-400);
  --icon-state-on-mute: var(--neutral-light-grey-400);
  --icon-state-on-mute-container: var(--neutral-light-grey-300);
  --icon-state-like-hover: var(--error-light-red-25);
  --opacity-brand-primary-8: var(--primary-light-aqua-opacity-08);
  --opacity-brand-primary-10: var(--primary-light-aqua-opacity-10);
  --opacity-brand-primary-16: var(--primary-light-aqua-opacity-16);
  --opacity-brand-secondary-8: var(--secondary-light-mint-opacity-08);
  --opacity-brand-secondary-10: var(--secondary-light-mint-opacity-10);
  --opacity-brand-secondary-16: var(--secondary-light-mint-opacity-16);
  --opacity-state-error-0: var(--error-light-red-opacity-00);
  --opacity-state-error-8: var(--error-light-red-opacity-08);
  --opacity-state-error-10: var(--error-light-red-opacity-10);
  --opacity-state-error-16: var(--error-light-red-opacity-16);
  --opacity-state-success-0: var(--success-light-green-opacity-00);
  --opacity-state-success-8: var(--success-light-green-opacity-08);
  --opacity-state-success-10: var(--success-light-green-opacity-10);
  --opacity-state-success-16: var(--success-light-green-opacity-16);
  --opacity-state-warn-8: var(--warning-dark-yellow-opacity-08);
  --opacity-state-warn-10: var(--warning-light-yellow-opacity-10);
  --opacity-state-warn-16: var(--warning-light-yellow-opacity-16);
  --opacity-state-info-8: var(--info-light-blue-opacity-08);
  --opacity-state-info-10: var(--info-light-blue-opacity-10);
  --opacity-state-info-16: var(--info-light-blue-opacity-16);
  --logo-gradient-0: var(--primary-light-aqua-500);
  --logo-gradient-100: var(--secondary-light-mint-500);
  --logo-light: var(--neutral-light-grey-25);
  --logo-dark: var(--neutral-light-grey-800);
  --logo-watermark: var(--neutral-light-grey-opacity-16);
  --illustration-red-900: var(--error-light-red-900);
  --illustration-red-800: var(--error-light-red-800);
  --illustration-red-700: var(--error-light-red-700);
  --illustration-red-600: var(--error-light-red-600);
  --illustration-red-500: var(--error-light-red-500);
  --illustration-red-400: var(--error-light-red-400);
  --illustration-red-300: var(--error-light-red-300);
  --illustration-red-200: var(--error-light-red-200);
  --illustration-red-100: var(--error-light-red-100);
  --illustration-red-50: var(--error-light-red-50);
  --illustration-red-25: var(--error-light-red-25);
  --illustration-aqua-900: var(--primary-light-aqua-900);
  --illustration-mint-900: var(--secondary-light-mint-900);
  --illustration-neutral-900: var(--neutral-light-grey-900);
  --illustration-neutral-800: var(--neutral-light-grey-800);
  --illustration-neutral-700: var(--neutral-light-grey-700);
  --illustration-neutral-600: var(--neutral-light-grey-600);
  --illustration-neutral-500: var(--neutral-light-grey-500);
  --illustration-neutral-400: var(--neutral-light-grey-400);
  --illustration-neutral-300: var(--neutral-light-grey-300);
  --illustration-neutral-200: var(--neutral-light-grey-200);
  --illustration-neutral-100: var(--neutral-light-grey-100);
  --illustration-neutral-50: var(--neutral-light-grey-50);
  --illustration-neutral-25: var(--neutral-light-grey-25);
  --illustration-mint-800: var(--secondary-light-mint-800);
  --illustration-mint-700: var(--secondary-light-mint-700);
  --illustration-mint-600: var(--secondary-light-mint-600);
  --illustration-mint-500: var(--secondary-light-mint-500);
  --illustration-mint-400: var(--secondary-light-mint-400);
  --illustration-mint-300: var(--secondary-light-mint-300);
  --illustration-mint-200: var(--secondary-light-mint-200);
  --illustration-mint-100: var(--secondary-light-mint-100);
  --illustration-mint-50: var(--secondary-light-mint-50);
  --illustration-mint-25: var(--secondary-light-mint-25);
  --illustration-aqua-800: var(--primary-light-aqua-800);
  --illustration-aqua-700: var(--primary-light-aqua-700);
  --illustration-aqua-600: var(--primary-light-aqua-600);
  --illustration-aqua-500: var(--primary-light-aqua-500);
  --illustration-aqua-400: var(--primary-light-aqua-400);
  --illustration-aqua-300: var(--primary-light-aqua-300);
  --illustration-aqua-200: var(--primary-light-aqua-200);
  --illustration-aqua-100: var(--primary-light-aqua-100);
  --illustration-aqua-50: var(--primary-light-aqua-50);
  --illustration-aqua-25: var(--primary-light-aqua-25);
}

@media (prefers-color-scheme: dark) {
  :root {
    --surface-neutral-overlay: #000000b2;
    --surface-neutral-shadow: #00000040;
    --text-support-strong-maple: #ec4a0aff;
    --text-support-strong-taro: #6938efff;
    --text-support-strong-rose: #e31b54ff;
    --text-support-strong-pink: #dd2590ff;
    --text-support-strong-indigo: #444ce7ff;
    --text-support-strong-baby: #1570efff;
    --text-support-strong-green: #29b368ff;
    --text-support-soft-maple: #feb273ff;
    --text-support-soft-taro: #bdb4feff;
    --text-support-soft-rose: #fea3b4ff;
    --text-support-soft-pink: #faa7e0ff;
    --text-support-soft-indigo: #a4bcfdff;
    --text-support-soft-baby: #84caffff;
    --text-support-soft-green: #8ae4b3ff;
    --surface-support-strong-maple: #d65420ff;
    --surface-support-strong-taro: #6938efff;
    --surface-support-strong-rose: #e31b54ff;
    --surface-support-strong-pink: #dd2590ff;
    --surface-support-strong-indigo: #444ce7ff;
    --surface-support-strong-baby: #1570efff;
    --surface-support-strong-green: #29b368ff;
    --surface-support-soft-maple: #feb273ff;
    --surface-support-soft-taro: #bdb4feff;
    --surface-support-soft-rose: #fea3b4ff;
    --surface-support-soft-pink: #faa7e0ff;
    --surface-support-soft-indigo: #a4bcfdff;
    --surface-support-soft-baby: #84caffff;
    --surface-support-soft-green: #8ae4b3ff;
    --border-support-strong-maple: #ec4a0aff;
    --border-support-strong-taro: #6938efff;
    --border-support-strong-rose: #e31b54ff;
    --border-support-strong-pink: #dd2590ff;
    --border-support-strong-indigo: #444ce7ff;
    --border-support-strong-baby: #1570efff;
    --border-support-strong-green: #29b368ff;
    --border-support-soft-maple: #feb273ff;
    --border-support-soft-taro: #bdb4feff;
    --border-support-soft-rose: #fea3b4ff;
    --border-support-soft-pink: #faa7e0ff;
    --border-support-soft-indigo: #a4bcfdff;
    --border-support-soft-baby: #84caffff;
    --border-support-soft-green: #8ae4b3ff;
    --border-state-like: #680b16ff;
    --border-state-favorite: #996226ff;
    --icon-visa: #ffffffff;
    --icon-state-like: #f05163ff;
    --icon-state-favorite: #ffa94bff;
    --icon-state-favorite-hover: #412200ff;
    --opacity-neutral-bg-80: #131e29cc;
    --opacity-neutral-bg-50: #131e2980;
    --opacity-neutral-bg-25: #131e2940;
    --opacity-neutral-bg-0: #131e2900;
    --opacity-neutral-lv2-80: #273342cc;
    --opacity-neutral-lv2-50: #27334280;
    --opacity-neutral-lv2-25: #27334240;
    --opacity-neutral-lv2-0: #27334200;
    --opacity-neutral-dark-80: #131e29cc;
    --opacity-neutral-dark-50: #131e2980;
    --opacity-neutral-dark-25: #131e2940;
    --opacity-neutral-dark-0: #131e2900;
    --opacity-neutral-inverse-80: #fafdffcc;
    --opacity-neutral-inverse-50: #fafdff80;
    --opacity-neutral-inverse-25: #fafdff40;
    --opacity-neutral-inverse-8: #fafdff14;
    --opacity-neutral-inverse-0: #fafdff00;
    --opacity-brand-primary-25: #11c7ed40;
    --opacity-brand-secondary-25: #00f0bc40;

    --surface-neutral-background: var(--neutral-dark-grey-25);
    --surface-neutral-container-lv1: var(--neutral-dark-grey-50);
    --surface-neutral-container-lv2: var(--neutral-dark-grey-100);
    --surface-neutral-container-lv3: var(--neutral-dark-grey-200);
    --surface-neutral-inverse: var(--neutral-dark-grey-800);
    --surface-neutral-solid-white: var(--neutral-dark-grey-800);
    --surface-neutral-mask: var(--neutral-dark-grey-opacity-70);
    --surface-neutral-mask-subtle: var(--neutral-dark-grey-opacity-16);
    --surface-brand-primary-bright: var(--primary-dark-aqua-600);
    --surface-brand-primary-default: var(--primary-dark-aqua-500);
    --surface-state-error-bright: var(--error-dark-red-700);
    --surface-brand-primary-dim: var(--primary-dark-aqua-400);
    --surface-brand-primary-hover: var(--primary-dark-aqua-800);
    --surface-brand-primary-container: var(--primary-dark-aqua-25);
    --surface-brand-primary-container-hover: var(--primary-dark-aqua-50);
    --surface-brand-secondary-bright: var(--secondary-dark-mint-600);
    --surface-brand-secondary-default: var(--secondary-dark-mint-500);
    --surface-brand-secondary-dim: var(--secondary-dark-mint-400);
    --surface-brand-secondary-hover: var(--secondary-dark-mint-800);
    --surface-brand-secondary-container: var(--secondary-dark-mint-900);
    --surface-brand-secondary-container-hover: var(--secondary-dark-mint-800);
    --surface-state-error: var(--error-dark-red-500);
    --surface-state-error-strong: var(--error-dark-red-400);
    --surface-state-error-hover: var(--error-dark-red-800);
    --surface-state-error-container: var(--error-dark-red-25);
    --surface-state-error-container-hover: var(--error-dark-red-50);
    --surface-state-warning-bright: var(--warning-dark-yellow-600);
    --surface-state-warning: var(--warning-dark-yellow-500);
    --surface-state-warning-dim: var(--warning-dark-yellow-400);
    --surface-state-warning-hover: var(--warning-dark-yellow-700);
    --surface-state-warning-container: var(--warning-dark-yellow-25);
    --surface-state-warning-container-hover: var(--warning-dark-yellow-50);
    --surface-state-success-bright: var(--success-dark-green-600);
    --surface-state-success: var(--success-dark-green-500);
    --surface-state-success-dim: var(--success-dark-green-400);
    --surface-state-success-hover: var(--success-dark-green-700);
    --surface-state-success-container: var(--success-dark-green-25);
    --surface-state-success-container-hover: var(--success-dark-green-50);
    --surface-state-info-bright: var(--info-dark-blue-600);
    --surface-state-info: var(--info-dark-blue-500);
    --surface-state-info-dim: var(--info-dark-blue-400);
    --surface-state-info-hover: var(--info-dark-blue-700);
    --surface-state-info-container: var(--info-dark-blue-25);
    --surface-state-info-container-hover: var(--info-dark-blue-50);
    --surface-state-mute: var(--neutral-dark-grey-400);
    --surface-state-mute-container: var(--neutral-dark-grey-300);
    --text-neutral-primary: var(--neutral-dark-grey-900);
    --text-neutral-secondary: var(--neutral-dark-grey-700);
    --text-neutral-tertiary: var(--neutral-dark-grey-500);
    --text-neutral-inverse: var(--neutral-dark-grey-50);
    --text-neutral-solid-light: var(--neutral-white);
    --text-neutral-solid-dark: var(--neutral-dark-grey-100);
    --text-brand-primary: var(--primary-dark-aqua-500);
    --text-brand-primary-hover: var(--primary-dark-aqua-600);
    --text-brand-on-primary: var(--primary-dark-aqua-25);
    --text-brand-on-primary-container: var(--primary-dark-aqua-900);
    --text-brand-secondary: var(--secondary-dark-mint-500);
    --text-brand-secondary-hover: var(--secondary-dark-mint-600);
    --text-brand-on-secondary: var(--secondary-dark-mint-25);
    --text-state-error: var(--error-dark-red-800);
    --text-state-error-hover: var(--error-dark-red-900);
    --text-state-on-error: var(--neutral-white);
    --text-state-on-error-container: var(--error-dark-red-700);
    --text-brand-on-secondary-container: var(--secondary-dark-mint-25);
    --text-state-warning: var(--warning-dark-yellow-500);
    --text-state-warning-hover: var(--warning-dark-yellow-400);
    --text-state-on-warning: var(--warning-dark-yellow-25);
    --text-state-on-warning-container: var(--warning-dark-yellow-700);
    --text-state-success: var(--success-light-green-100);
    --text-state-success-hover: var(--success-light-green-25);
    --text-state-on-success: var(--success-dark-green-25);
    --text-state-on-success-container: var(--success-dark-green-700);
    --text-state-info: var(--info-dark-blue-800);
    --text-state-info-hover: var(--info-dark-blue-900);
    --text-state-on-info: var(--neutral-white);
    --text-state-on-info-container: var(--info-dark-blue-900);
    --text-state-mute: var(--neutral-dark-grey-300);
    --text-state-on-mute: var(--neutral-dark-grey-300);
    --text-state-on-mute-container: var(--neutral-dark-grey-100);
    --border-neutral-subtle: var(--neutral-dark-grey-50);
    --border-neutral-default: var(--neutral-dark-grey-100);
    --border-brand-primary: var(--primary-dark-aqua-700);
    --border-brand-primary-hover: var(--primary-dark-aqua-800);
    --border-brand-on-primary: var(--primary-dark-aqua-700);
    --border-brand-on-primary-hover: var(--primary-dark-aqua-800);
    --border-brand-on-primary-container: var(--primary-dark-aqua-400);
    --border-brand-on-primary-container-hover: var(--primary-dark-aqua-500);
    --border-state-error: var(--error-dark-red-600);
    --border-state-error-hover: var(--error-dark-red-700);
    --border-state-on-error: var(--error-dark-red-800);
    --border-state-on-error-hover: var(--error-dark-red-900);
    --border-state-on-error-container: var(--error-dark-red-700);
    --border-state-on-error-container-hover: var(--error-dark-red-600);
    --border-state-warning: var(--warning-dark-yellow-500);
    --border-state-warning-hover: var(--warning-dark-yellow-800);
    --border-state-on-warning: var(--warning-dark-yellow-800);
    --border-state-on-warning-hover: var(--warning-dark-yellow-900);
    --border-state-on-warning-container: var(--warning-dark-yellow-700);
    --border-state-on-warning-container-hover: var(--warning-dark-yellow-800);
    --border-state-success: var(--success-dark-green-600);
    --border-state-success-hover: var(--success-dark-green-800);
    --border-state-on-success: var(--success-dark-green-800);
    --border-state-on-success-hover: var(--success-dark-green-900);
    --border-state-on-success-container: var(--success-dark-green-700);
    --border-state-on-success-container-hover: var(--success-dark-green-800);
    --border-state-info: var(--info-dark-blue-800);
    --border-state-info-hover: var(--info-dark-blue-900);
    --border-state-on-info: var(--info-dark-blue-700);
    --border-state-on-info-hover: var(--info-dark-blue-800);
    --border-state-on-info-container: var(--info-dark-blue-700);
    --border-state-on-info-container-hover: var(--info-dark-blue-800);
    --border-state-mute: var(--neutral-dark-grey-300);
    --border-state-on-mute: var(--neutral-dark-grey-400);
    --border-state-on-mute-container: var(--neutral-dark-grey-200);
    --border-brand-secondary: var(--secondary-dark-mint-500);
    --border-brand-secondary-hover: var(--secondary-dark-mint-600);
    --border-brand-on-secondary: var(--secondary-dark-mint-800);
    --border-brand-on-secondary-hover: var(--secondary-dark-mint-900);
    --border-brand-on-secondary-container: var(--secondary-dark-mint-600);
    --border-brand-on-secondary-container-hover: var(--secondary-dark-mint-800);
    --border-neutral-strong: var(--neutral-dark-grey-200);
    --border-neutral-hover: var(--neutral-white);
    --border-neutral-contrast: var(--neutral-dark-grey-800);
    --border-neutral-solid-white: var(--neutral-dark-grey-900);
    --border-neutral-inverse: var(--neutral-dark-grey-25);
    --icon-neutral-primary: var(--neutral-white);
    --icon-neutral-secondary: var(--neutral-dark-grey-700);
    --icon-neutral-tertiary: var(--neutral-dark-grey-500);
    --icon-neutral-inverse: var(--neutral-dark-grey-100);
    --icon-neutral-solid-white: var(--neutral-dark-grey-800);
    --icon-brand-primary: var(--primary-dark-aqua-500);
    --icon-brand-primary-hover: var(--primary-dark-aqua-700);
    --icon-brand-on-primary-small: var(--primary-dark-aqua-25);
    --icon-brand-on-primary-large: var(--neutral-white);
    --icon-brand-on-primary-container: var(--primary-dark-aqua-900);
    --icon-brand-secondary: var(--secondary-dark-mint-600);
    --icon-brand-secondary-hover: var(--secondary-dark-mint-800);
    --icon-brand-on-secondary: var(--secondary-dark-mint-25);
    --icon-brand-on-secondary-container: var(--secondary-dark-mint-100);
    --icon-state-error: var(--error-dark-red-600);
    --icon-state-error-hover: var(--error-dark-red-700);
    --icon-state-on-error: var(--neutral-white);
    --icon-state-on-error-container: var(--error-dark-red-900);
    --icon-state-warning: var(--warning-dark-yellow-500);
    --icon-state-warning-hover: var(--warning-dark-yellow-700);
    --icon-state-on-warning: var(--warning-dark-yellow-25);
    --icon-state-on-warning-container: var(--warning-dark-yellow-900);
    --icon-state-success: var(--success-dark-green-500);
    --icon-state-success-hover: var(--success-dark-green-700);
    --icon-state-on-success: var(--success-light-green-900);
    --icon-state-on-success-container: var(--success-dark-green-900);
    --icon-state-info: var(--info-dark-blue-600);
    --icon-state-info-hover: var(--info-dark-blue-800);
    --icon-state-on-info: var(--neutral-white);
    --icon-state-on-info-container: var(--info-dark-blue-900);
    --icon-state-mute: var(--neutral-dark-grey-200);
    --icon-state-on-mute: var(--neutral-dark-grey-300);
    --icon-state-on-mute-container: var(--neutral-dark-grey-200);
    --icon-state-like-hover: var(--error-dark-red-25);
    --opacity-brand-primary-8: var(--primary-dark-aqua-opacity-08);
    --opacity-brand-primary-10: var(--primary-dark-aqua-opacity-10);
    --opacity-brand-primary-16: var(--primary-dark-aqua-opacity-16);
    --opacity-brand-secondary-8: var(--secondary-dark-mint-opacity-08);
    --opacity-brand-secondary-10: var(--secondary-dark-mint-opacity-10);
    --opacity-brand-secondary-16: var(--secondary-dark-mint-opacity-16);
    --opacity-state-error-0: var(--error-dark-red-opacity-00);
    --opacity-state-error-8: var(--error-dark-red-opacity-08);
    --opacity-state-error-10: var(--error-dark-red-opacity-10);
    --opacity-state-error-16: var(--error-dark-red-opacity-16);
    --opacity-state-success-0: var(--success-dark-green-opacity-00);
    --opacity-state-success-8: var(--success-dark-green-opacity-08);
    --opacity-state-success-10: var(--success-dark-green-opacity-10);
    --opacity-state-success-16: var(--success-dark-green-opacity-16);
    --opacity-state-warn-8: var(--warning-dark-yellow-opacity-08);
    --opacity-state-warn-10: var(--warning-dark-yellow-opacity-10);
    --opacity-state-warn-16: var(--warning-dark-yellow-opacity-16);
    --opacity-state-info-8: var(--info-dark-blue-opacity-08);
    --opacity-state-info-10: var(--info-dark-blue-opacity-10);
    --opacity-state-info-16: var(--info-dark-blue-opacity-16);
    --logo-secondary: var(--neutral-white);
    --logo-gradient-0: var(--primary-dark-aqua-500);
    --logo-gradient-100: var(--secondary-dark-mint-500);
    --logo-light: var(--neutral-dark-grey-900);
    --logo-dark: var(--neutral-dark-grey-50);
    --illustration-red-900: var(--error-dark-red-900);
    --illustration-red-800: var(--error-dark-red-800);
    --illustration-red-700: var(--error-dark-red-700);
    --illustration-red-600: var(--error-dark-red-600);
    --illustration-red-500: var(--error-dark-red-500);
    --illustration-red-400: var(--error-dark-red-400);
    --illustration-red-300: var(--error-dark-red-300);
    --illustration-red-200: var(--error-dark-red-200);
    --illustration-red-100: var(--error-dark-red-100);
    --illustration-red-50: var(--error-dark-red-50);
    --illustration-red-25: var(--error-dark-red-25);
    --illustration-aqua-900: var(--primary-dark-aqua-900);
    --illustration-mint-900: var(--secondary-dark-mint-900);
    --illustration-neautral-900: var(--neutral-dark-grey-900);
    --illustration-neautral-800: var(--neutral-dark-grey-800);
    --illustration-neautral-700: var(--neutral-dark-grey-700);
    --illustration-neautral-600: var(--neutral-dark-grey-600);
    --illustration-neautral-500: var(--neutral-dark-grey-500);
    --illustration-neautral-400: var(--neutral-dark-grey-400);
    --illustration-neautral-300: var(--neutral-dark-grey-300);
    --illustration-neautral-200: var(--neutral-dark-grey-200);
    --illustration-neautral-100: var(--neutral-dark-grey-100);
    --illustration-neautral-50: var(--neutral-dark-grey-50);
    --illustration-neautral-25: var(--neutral-dark-grey-25);
    --illustration-mint-800: var(--secondary-dark-mint-800);
    --illustration-mint-700: var(--secondary-dark-mint-700);
    --illustration-mint-600: var(--secondary-dark-mint-600);
    --illustration-mint-500: var(--secondary-dark-mint-500);
    --illustration-mint-400: var(--secondary-dark-mint-400);
    --illustration-mint-300: var(--secondary-dark-mint-300);
    --illustration-mint-200: var(--secondary-dark-mint-200);
    --illustration-mint-100: var(--secondary-dark-mint-100);
    --illustration-mint-50: var(--secondary-dark-mint-50);
    --illustration-mint-25: var(--secondary-dark-mint-25);
    --illustration-aqua-800: var(--primary-dark-aqua-800);
    --illustration-aqua-700: var(--primary-dark-aqua-700);
    --illustration-aqua-600: var(--primary-dark-aqua-600);
    --illustration-aqua-500: var(--primary-dark-aqua-500);
    --illustration-aqua-400: var(--primary-dark-aqua-400);
    --illustration-aqua-300: var(--primary-dark-aqua-300);
    --illustration-aqua-200: var(--primary-dark-aqua-200);
    --illustration-aqua-100: var(--primary-dark-aqua-100);
    --illustration-aqua-50: var(--primary-dark-aqua-50);
    --illustration-aqua-25: var(--primary-dark-aqua-25);
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
