@import url('https://fonts.googleapis.com/css2?family=Barlow&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

/* .btnSuccess {
  @apply rounded bg-green-500 px-4 py-2 font-bold text-white hover:bg-green-700;
} */

@layer utilities {
  @variants responsive {
    /* Hide scrollbar for Chrome, Safari and Opera */
    .no-scrollbar::-webkit-scrollbar {
      display: none;
    }

    /* Hide scrollbar for IE, Edge and Firefox */
    .no-scrollbar {
      -ms-overflow-style: none; /* IE and Edge */
      scrollbar-width: none; /* Firefox */
    }
  }
}

@layer base {
  html {
    font-family: barlow;
    scroll-behavior: smooth;
  }
}

@layer base {
  ::-webkit-scrollbar {
    @apply w-2 bg-darkGray;
  }
  ::-webkit-scrollbar-track {
    @apply bg-darkGray shadow-sm;
  }

  ::-webkit-scrollbar-thumb {
    @apply rounded-xl bg-lightGray;
  }
}

@layer base {
  :root {
    @apply dark:bg-black dark:text-white;
  }
}

@layer base {
  input[type='number']::-webkit-inner-spin-button,
  input[type='number']::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}
